<aside
class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
>
<div class="py-4 text-gray-500 dark:text-gray-400">
    
    <%= link_to 'ChemiPrime', requests_path, class:'ml-6 text-lg font-bold text-gray-800 dark:text-gray-200' %>

    <ul class="mt-6">
        <li class="relative px-6 py-3">            
            <%= link_to 'Job', jobs_new_path, 
                class:'inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100 '%>    
        </li>

        <li class="relative px-6 py-3">            
            <%= link_to 'Base', departaments_new_path, 
                class:'inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100 '%>    
        </li>

        <li class="relative px-6 py-3">            
            <%= link_to 'Customers', customers_new_path, 
                class:'inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100 '%>    
        </li>

        <li class="relative px-6 py-3">            
            <%= link_to 'Fluid Density', samples_new_path, 
                class:'inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100 '%>    
        </li>

        <li class="relative px-6 py-3">            
            <%= link_to 'Unit of measurement', extents_new_path, 
                class:'inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100 '%>    
        </li>


        <li class="relative px-6 py-3">
            <%= link_to 'Test Request', new_request_path, 
                class:'inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100 '%>    
        </li>


    </ul>
    <div class="px-6 my-6">
    <button
        class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
    >
        Create account
        <span class="ml-2" aria-hidden="true">+</span>
    </button>
    </div>
</div>
</aside>