<%= form_with(model: @aditivo) do |form| %>  
    <% if @aditivo.errors.any? %>
        <div class="mb-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <% @aditivo.errors.each do |error| %>
                <li> <%= error.full_message %> </li>
            <%end%>
        </div>
    <%end%>
    <div class="px-20 py-10 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="relative">
            <span class="text-gray-700 dark:text-gray-400">
                    Aditivo Name
            </span>
            <%= form.text_field :aditivo, placeholder:"", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
        </div> 

        <div class="mt-8 flex flex-col flex-wrap mb-4 space-y-4 md:flex-row md:items-end md:space-x-4">
            <%= form.submit "Submit item", class:"px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"%>
            <%= link_to "Cancel", aditivos_path, class:"px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg hover:bg-red-700 font-semibold rounded shadow"%>
        </div>
    </div>
<%end%>   