<div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
    <%= render partial:'partials/aside' %>
    <div class="flex flex-col flex-1">
        <%= render partial:'partials/header'%>
        <main class="h-full pb-16 overflow-y-auto">
            <div class="container px-6 mx-auto grid">
                <div class="relative px-6 py-3"> 
                    <h2
                        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                    >
                        Departaments
                    </h2>
                    <%= link_to  departaments_new_path, data:{turbo_frame: dom_id(Departament.new)} do %>
                        <span  class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100">
                            <svg class="h-6 w-6 text-purple-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                            </svg>

                                <span class="ml-4">New Departament</span>

                        </span>
                    <%end%>
                </div>
                
                <%= turbo_frame_tag Departament.new%>

                <a class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple">
                   <div class="flex items-center">
                       <span>Details</span>
                   </div>
                </a>

                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full text-sm text-left text-gray-500 ">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
                                <tr >                      
                                <th scope="col" class="px-6 py-3">Departament</th>
                                <th scope="col" class="px-6 py-3">View</th>
                                <th scope="col" class="px-6 py-3">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="departaments" is="turbo-frame" >
                                <% @departaments.each do |departament|  %>
                                    <%= render departament%>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="text-center my-4">
                   <div role="navigation" aria-label="Pagination" class="px-3 py-2 mx-2 text-gray-700 no-underline bg-white rounded-lg">
                        <div class="flickr_pagination">
                          <div class="py-4">
                            <%= will_paginate(@departaments) %>
                          </div>
                        </div>
                   </div>
                </div>
            </div>
        </main>
    </div>
</div>