<%= form_with(model:@request, data:{controller: "informations", index: @request.slurries.length }) do |form| %> 

        <% if @request.errors.any? %>
            <div class="mb-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <% @request.errors.each do |error| %>
                    <li> <%= error.full_message %> </li>
                <%end%>
            </div>
        <%end%>
        <h4
            class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
        >
              Job Information
        </h4>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="grid items-end gap-6 mb-6 md:grid-cols-3">
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Requested Date
                </span>

                <span class="flex "> 
                <%= Time.now.strftime("%m/%d/%Y") %>
                <!--
                <%= form.date_select :request_date, {}, class:'text-xs mt-1 dark:border-gray-600 inline-block py-2 px-6 uppercase rounded text-gray-600 bg-gray-200 uppercase last:mr-0 mr-1'%>
                -->
                </span>
            
            </div> 
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Job Type                                          
                </span>

                <%= form.collection_select :job_id, Job.all, :id, :job_type,  {include_blank: true  }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Job Time
                </span>
                <%= form.datetime_field :job_time, class: 'start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500',  placeholder: 'Select date'%>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Submitted By
                </span>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                <%= current_user.email %>
                </p>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Location
                </span>
                <%= form.text_field :location, placeholder:"", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Base
                </span>
                <%=form.collection_select :departament_id, Departament.all, :id, :departament, {include_blank: true  }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Customer
                </span>
                <%= form.collection_select :customer_id, Customer.all, :id, :customer, {include_blank: true  }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
            </div> 
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Well Name
                </span>
                <%= form.text_field :well_name, placeholder:"", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
            </div>
        </div>
    </div>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Operation </h4>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="grid items-end gap-6 mb-6 md:grid-cols-3">
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Pipe Size                                          
                </span>
                <%= form.text_field :pipe_size, placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Depth MD (ft)                                         
                </span>
                <%= form.text_field :depth_md, placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Aporte de Gas                                      
                </span>
                <%= form.collection_select :aporte_id, Aporte.all, :id, :aporte, { include_blank: true }, { class: 'start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500'} %>
            </div>
            <div class="relative max-w-sm">
                <%= form.collection_select :nivel_id, Nivel.all, :id, :nivel, {include_blank: true  }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
            </div>

        </div>
    </div>
    <div class="grid gap-6 mb-8 md:grid-cols-2">
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mb-4 font-semibold">
                Imput Data
            </h4>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Depth TVD (ft)                                         
                </span>
                <%= form.text_field :depth_tvd, placeholder:"0.0", id:"tvd", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Fluid Density
                </span>
                <span class="flex "> 
                    <%= form.text_field :mud_weight, placeholder:"", id:"density", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
                    <%= form.collection_select :extent_id, Extent.all, :id, :extent, {include_blank: true }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
                    
                </span>
            </div>
            <div  class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    BHST (ºF)                                      
                </span>
                <span class="flex "> 
                    <%=link_to "Calculation BHST", bhst_calculator_requests_path,  class:"flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple",
                        data:{turbo_frame:"modal"} %>
                </span>

            </div>
            <div  class="relative max-w-sm">
                <span class="flex "> 
                    <%= form.text_field :bhst, placeholder:"", id:"result", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>     
                </span>
            </div>
            <div  class=" mt-4 relative max-w-sm">
                <span  id= "calcular" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                    <span >Calcular</span>
                </span> 
            </div>
        </div>
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mb-4 font-semibold">
                Output Data <span id="job_type"> </span>
            </h4>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Temperature Gradient ºF/100 ft                                         
                </span>
                <%= form.text_field :temperature_gradient, id:"temp-gradient", placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        BHCT (ºF)                                         
                </span>
                <%= form.text_field :bhct, id:"bhct", placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Test Pressure (psi)                                       
                </span>
                <%= form.text_field :psi, id:"psi", placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>       
            </div>
        </div>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Time </h4>
    </div>

    <div class="grid gap-6 mb-8 md:grid-cols-2">
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mb-4 font-semibold"> Imput Data </h4>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Tiempo Pre mezcla                                        
                </span>
                <%= form.text_field  :time_mezcla, id:"time_mezcla", placeholder:"0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input"%>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Tiempo de Seguridad                                       
                </span>
                <%= form.text_field  :time_security, id:"time_mezclatime_mezcla", placeholder:"0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input"%>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Tiempo de bombeabilidad                                       
                </span>
                <%= form.text_field  :time_pumpability, id:"time_pumpability", placeholder:"0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input"%>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Tiempo de operacion                                       
                </span>
                <%= form.text_field  :time_operation, id:"time_operation", placeholder:"0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input"%>       
            </div>
            <div  class=" mt-4 relative max-w-sm">
                <span  id= "calcular_total" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                    <span >Calcular</span>
                </span> 
            </div>
        </div>
        <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" >
            <h4 class="mb-4 font-semibold"> Output Data </h4>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Total de Tiempos (premezcal, bombeabilidad, seguridad)
                </span>
                <%= form.text_field  :total_time, id:"total_time", placeholder:"0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input"%>       
            </div>
        </div>
    </div>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Slurry Information - Design  </h4>
    </div>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <%= form.fields_for :slurrie_density do |slurrie_density_fields| %>
                    <div class="grid items-end gap-6 mb-6 md:grid-cols-3">
                        <div class="relative max-w-sm">
                            <span class="px-4 py-3 text-gray-700 dark:text-gray-400">
                                Slurry Density                                          
                            </span>
                            <span class="flex px-4 py-3 "> 
                                <%= slurrie_density_fields.text_field :slurrie_densitie , placeholder:"", id:"slurrie_density", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
                                <%= slurrie_density_fields.collection_select :extent_id, Extent.all, :id, :extent, {include_blank: true }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
                            </span>
                            <span class="px-4 py-3">
                        </div>
                    </div>
                <%end%>    
                    <%= form.fields_for :slurries do |slurrie_fields| %>
                        <table class="w-full whitespace-no-wrap" id="tableinformation">
                            <thead>
                                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">                      
                                <th class="px-4 py-3">Conc</th>
                                <th class="px-4 py-3">Porcentaje de Unidad %</th>
                                <th class="px-4 py-3">Cement / Additive</th>
                                <th class="px-4 py-3">lot Nº</th>
                                </tr>
                            </thead>
                            <tbody id="informations" is="turbo-frame" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-4 py-3 text-sm">
                                            <%= slurrie_fields.text_field :concentration, id:"concentration", placeholder: "0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
                                        </td>
                                        <td class="px-4 py-3 text-sm">
                                            <%= slurrie_fields.collection_select :extent_id, Extent.all, :id, :extent, {include_blank: true }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
                                        </td>
                                        <td class="px-4 py-3 text-sm">
                                            <%= slurrie_fields.collection_select :aditivo_id, Aditivo.all, :id, :aditivo, {include_blank: true }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
                                        </td>
                                        <td class="px-4 py-3 text-sm">
                                            <%= slurrie_fields.text_field :lote, id:"lote", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %> 
                                        </td>
                                    </tr>                                   
                            </tbody>
                        </table>
                    <% end %>
                <div class="px-4 py-2">
                    <button type="button" data-action="click->informations#add" class="btn btn-primary mr-2">
                        <svg class="h-6 w-6 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="9" />  <line x1="9" y1="12" x2="15" y2="12" />  <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </button>
                    <button type="button"  class="btn btn-primary mr-2"  id="eliminarFila">
                        <svg class="h-6 w-6 text-red-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="9" />  <line x1="9" y1="12" x2="15" y2="12" /></svg>
                    </button>
                </div>
                

            </div>
        </div>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Design Parameters  </h4>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                        <%= form.fields_for :parameter_desings do |parameter_desing_fields| %>
                            <table class="w-full whitespace-no-wrap" id="tableparameters">
                                <thead>
                                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">                      
                                    <th class="px-4 py-3">Variable</th>
                                    <th class="px-4 py-3">Solicitud</th>
                                    <th class="px-4 py-3">Unidades</th>
                                    </tr>
                                </thead>
                                <tbody id="parameters" is="turbo-frame" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    <tr class="text-gray-700 dark:text-gray-400">
                                        <td class="px-4 py-3 text-sm">
                                            <%= parameter_desing_fields.text_field :name, id:"name",  class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
                                        </td>
                                        <td class="px-4 py-3 text-sm">
                                            <%= parameter_desing_fields.text_field :application, id:"application",  class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
                                        </td>
                                        <td class="px-4 py-3 text-sm">
                                            <%= parameter_desing_fields.text_field :unit, id:"unit",  class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        <% end %>
                <div data-controller="parameters" class="px-4 py-2">
                    <button type="button" data-action="click->parameters#add" class="btn btn-primary mr-2">
                        <svg class="h-6 w-6 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="9" />  <line x1="9" y1="12" x2="15" y2="12" />  <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </button>
                    <button type="button"  class="btn btn-primary mr-2" id="eliminarFilaParameters">
                        <svg class="h-6 w-6 text-red-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="9" />  <line x1="9" y1="12" x2="15" y2="12" /></svg>
                    </button>
                </div>
                

            </div>
        </div>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Observaciones </h4>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <%= form.text_area  :observaciones, rows: 4, class: 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'  %>
    </div>


    <%= form.submit "Submit item", class:"cursor-pointer my-2 px-4 py-2 text-center inline-block text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"%>

<%end%>