<%= form_with(model:@request, data:{ controller: "flatpickr"}) do |form| %> 

        <% if @request.errors.any? %>
            <div class="mb-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <% @request.errors.each do |error| %>
                    <li> <%= error.full_message %> </li>
                <%end%>
            </div>
        <%end%>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Job Information </h4>
    </div>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="grid items-end gap-6 mb-6 md:grid-cols-3">
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Requested Date
                </span>

                <span class="flex "> 
                <%= Time.now.strftime("%m/%d/%Y") %>
                <!--
                <%= form.date_select :request_date, {}, class:'text-xs mt-1 dark:border-gray-600 inline-block py-2 px-6 uppercase rounded text-gray-600 bg-gray-200 uppercase last:mr-0 mr-1'%>
                -->
                </span>
            
            </div> 
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Job Type                                          
                </span>

                <%= form.collection_select :job_id, Job.all, :id, :job_type, {promt: "---Select Category---" }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Job Time
                </span>
                <%= form.datetime_field :job_time, class: 'start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500',  placeholder: 'Select date'%>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Submitted By
                </span>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                <%= current_user.email %>
                </p>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Location
                </span>
                <%= form.text_field :location, placeholder:"", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Base
                </span>
                <%=form.collection_select :departament_id, Departament.all, :id, :departament, {promt: "---Select Category---" }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Customer
                </span>
                <%= form.collection_select :customer_id, Customer.all, :id, :customer, {promt: "---Select Category---" }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
            </div> 
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Well Name
                </span>
                <%= form.text_field :well_name, placeholder:"", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Fluid Density
                </span>
                <span class="flex "> 
                    <%= form.collection_select :sample_id, Sample.all, :id, :sample, {promt: "---Select Category---" }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
                    <%= form.collection_select :extent_id, Extent.all, :id, :extent, {promt: "---Select Category---" }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
                    
                </span>
            </div>
        </div>
    </div>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Well Information </h4>
    </div>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="grid items-end gap-6 mb-6 md:grid-cols-3">
            <div class="relative max-w-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                            Pipe Size                                          
                    </span>
                <%= form.text_field :pipe_size, placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>       
            </div>
            <div id="root" class="relative max-w-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        BHST (ºF)                                      
                    </span>
                    <!-- <button class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        BHS
                    </button> -->

                <%= form.text_field :bhst, placeholder:"",  class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>      
            </div>
        </div>
    </div>
    <%= form.submit "Submit item", class:"cursor-pointer my-2 px-4 py-2 text-center inline-block text-white bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"%>

<%end%>