<%= form_with(model:@request) do |form| %>

    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Job Information </h4>


    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="grid items-end gap-6 mb-6 md:grid-cols-3">
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Requested Date
                </span>

                <span class="flex "> 
                    <%= form.text_field :request_date, disabled: true, class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                </span>
            
            </div> 
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Job Type                                          
                </span>
                <%= form.collection_select :job_id, Job.all, :id, :job_type, {promt: "---Select Category---" }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500", disabled: true } %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Job Time
                </span>
                <%= form.text_field :job_time, disabled: true, class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Submitted By
                </span>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                <%= current_user.email %>
                </p>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Location
                </span>
                <%= form.text_field :location, placeholder:"", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Base
                </span>
                <%=form.collection_select :departament_id, Departament.all, :id, :departament, {promt: "---Select Category---" }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500", disabled: true } %>
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Customer
                </span>
                <%= form.collection_select :customer_id, Customer.all, :id, :customer, {promt: "---Select Category---" }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500", disabled: true } %>
            </div> 
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Well Name
                </span>
                <%= form.text_field :well_name, placeholder:"", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>
            </div>
        </div>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Well Informatión </h4>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="grid items-end gap-6 mb-6 md:grid-cols-3">
            <div class="relative max-w-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                            Pipe Size                                          
                    </span>
                <%= form.text_field :pipe_size, placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>       
            </div>
            <div  class="relative max-w-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        BHST (ºF)                                      
                    </span>
                    <%= form.text_field :bhst, placeholder:"", id:"result", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true%>     
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        BHCT (ºF)                                         
                </span>
                <%= form.text_field :bhct, id:"bhct", placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input" %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                    Temperature Gradient ºF/100 ft                                         
                </span>
                <%= form.text_field :temperature_gradient, id:"temp-gradient", placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                     Depth MD (ft)                                         
                </span>
                <%= form.text_field :depth_md, placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Depth TVD (ft)                                         
                </span>
                <%= form.text_field :depth_tvd, placeholder:"0.0", id:"tvd", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Test Pressure (psi)                                       
                </span>
                <%= form.text_field :psi, placeholder:"0.0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Tiempo Pre mezcla                                        
                </span>
                <%= form.text_field :time_mezcla, placeholder:"mezcla", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Tiempo de Seguridad                                       
                </span>
                <%= form.text_field  :time_security, placeholder:"0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true%>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Tiempo de bombeabilidad                                       
                </span>
                <%= form.text_field  :time_pumpability,  placeholder:"0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true%>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Total de Tiempos (premezcal, bombeabilidad, seguridad)                                       
                </span>
                <%= form.text_field  :time_operation,  placeholder:"0", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true%>       
            </div>
            <div class="relative max-w-sm">
                <span class="text-gray-700 dark:text-gray-400">
                        Aporte de Gas                                      
                </span>
                <%= form.collection_select :aporte_id, Aporte.all, :id, :aporte, { include_blank: true }, { class: 'start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500', disabled: true} %>
            </div>
            <div class="relative max-w-sm">
                <%= form.collection_select :nivel_id, Nivel.all, :id, :nivel, {include_blank: true  }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500", disabled: true} %>
            </div>
        </div>
    </div>
        <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"> Slurry Information - Design  </h4>
    </div>
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" >
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap" id="tableinformation">
                    <thead>
                        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">                      
                        <th class="px-4 py-3">Slurry Density lbm/gal</th>
                        <th class="px-4 py-3">Conc</th>
                        <th class="px-4 py-3">Porcentaje de Unidad %</th>
                        <th class="px-4 py-3">Cement / Additive</th>
                        <th class="px-4 py-3">lot Nº</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3"> 
                                <div class="flex items-center text-sm">
                                    <%= form.text_field :density, placeholder:"0.0", id:"density", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>
                                </div>
                            </td>
                            <td class="px-4 py-3"> 
                                <div class="flex items-center text-sm">
                                    <%= form.text_field :concentration, placeholder:"0.0", id:"concentration", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>
                                </div>
                            </td>
                            <td class="px-4 py-3"> 
                                <div class="flex items-center text-sm">
                                    <%= form.text_field :concentration, placeholder:"0.0", id:"concentration", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>
                                </div>
                            </td>
                            <td class="px-4 py-3"> 
                                <div class="flex items-center text-sm">
                                    <%= form.collection_select :aditivo_id, Aditivo.all, :id, :aditivo, {include_blank: true }, { class: "start_time bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500", disabled: true } %>
                                </div>
                            </td>
                            <td class="px-4 py-3"> 
                                <div class="flex items-center text-sm">
                                    <%= form.text_field :lote, placeholder:"0.0", id:"lote", class:"block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-black-300 dark:focus:shadow-outline-gray form-input", disabled: true %>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%end%>